@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&display=swap');

:root{
    --bg-color: #141414;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

body{
    height: 100vh;

    overflow-x: hidden;

    background-color: #141414;
}

section{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

nav{
    position: fixed;
    z-index: 999;
    left: 100px;
    top: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 31px;
    height: 70vh;
}

nav ul{
    padding: 0px;
    padding-top: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

nav li{
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.separator{
    position: relative;

    width: 2px;
    height: 25px;

    margin-top: 5px;
    margin-bottom: 5px;

}

.separator div{
    transition: 300ms;
    background-color: #FFFFFF;
}

.active::after{
    content: '';
    position: absolute;

    width: 200%;
    height: 200%;

    top: -100%;

    border-radius: 35%;

    background-color: #1c1c1c;

    animation: spin 10s forwards cubic-bezier(0, 0.3, 0.58, 1);

}

@keyframes spin {
    from {
      transform: translateY(0%) rotate(0deg);
    }
    to {
      transform: translateY(-100%) rotate(360deg);
    }
  
  }

nav li span{
    border-radius: 50%;
    border: 2px solid #FFFFFF;

    width: 30px;
    height: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    font-size: 20px !important;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    cursor: pointer;

    position: relative;
    z-index: 9;
}

nav li span.material-symbols-rounded{
    font-variation-settings:
    'opsz' 20 !important;

    display: flex;
}

.logo{
    font-weight: 400;
    font-size: 64px;

    width: 106px;
    height: 106px;

    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 5px solid #FFFFFF;
}


.light-top{
    position: absolute;
    z-index: -1;
    top: 0px;

    width: 80%;
    margin-left: 10%;
}

.light-bottom{
    position: absolute;
    z-index: -1;
    bottom: 0px;

    width: 100%;
}

.light-top img, .light-bottom img{
    width: 100%;
}

.message{
    width: 20vw;
    height: 50px;

    border-radius: 33px;
    border: solid 3px #7875FE;

    color: white;

    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 30vh;
    right: -25vw;

    transition: 1s;
}

.message p {
    text-align: center;
}

.container-title{
    margin-top: 45px;

    margin-bottom: 41px;
}

.container-title h1{
    font-weight: 300;
    font-size: 64px;

    color: #FFFFFF;
}
.container-title span{
    width: 100%;
    height: 58px;

    font-weight: 300;
    font-size: 23px;
    line-height: 28px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: relative;
    right: -15%;

    color: #FFFFFF;
}

.information {
    display: flex;
    justify-content: space-between;
    align-items: end;

    position: absolute;
    bottom: 37px;
}

.box{
    position: relative;

    background: linear-gradient(180deg, #FFFFFF 0%, rgba(217, 217, 217, 0) 100%);
}


.box::after{
    content: '';

    background-repeat: no-repeat;
    background-size: cover;

    width: calc(100% + 7px);
    height: calc(100% + 7px);

    position: absolute;
    top: -7px;
    left: -7px;

    z-index: -1;

}

.box-apresentacao-logo {
    display: flex;
    justify-content: center;
}

.box-apresentacao-logo::after{
    background-image: url('../img/mask_box1.png');
}

.box-apresentacao-logo .logo{
    animation: float 2s infinite normal;

    position: absolute;

    top: -129px;

    color: #FFFFFF;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-8px);
    }

    100%{
        transform: translateY(0px);
    }
}

.box-horizontal-text.box::after{
    width: calc(100% + 4.9px);
    height: calc(100% + 6px);

    position: absolute;
    top: -6px;
    left: -4.9px;
}

.box-horizontal-text{
    margin-left: 124px;

    display: flex;
    justify-content: center;
}

.box-horizontal-text .logo{
    animation: float 2s infinite normal;

    position: absolute;

    top: -129px;

    color: #FFFFFF;
}

.box-horizontal-text .text{
    color: #FFFFFF;

    width: 100%;
    height: 49px;

    font-weight: 300;
    font-size: 23px;

    text-align: center;

    position: absolute;

    top: -65px;
}

.box-horizontal-text::after{
    background-image: url('../img/mask_box2.png');
}

.container-subtitle{
    width: 47%;

    margin-top: 45px;
    margin-left: 13px;
}

.container-subtitle h1{
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.box-escrita-logo {
    display: flex;
    justify-content: center;

    margin-left: 124px;

    transform-origin: top;
    transform: rotate(23.95deg);
}

.box-escrita-logo::after{
    background-image: url('../img/mask_box1.png');
}

.box-escrita-logo .logo{
    position: absolute;

    top: -120px;
    left: -27px;

    color: #FFFFFF;

    transform: rotate(44.34deg);

}

.box-escrita-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-escrita-text::after{
    background-image: url('../img/mask_box3.png');
    top: -14px;
    height: calc(100% + 14px);
}

.escrita-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 24px;
}

.write-box{
    background: #FFFFFF;
    box-shadow: -9px -7px 19px rgba(0, 0, 0, 0.25);
    border-radius: 33px;

    width: 248px;
    height: 233px;

    padding-top: 7px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.write-box .title{
    font-weight: 600;
    font-size: 15px;
    line-height: 13px;
}

.txtArea-write{
    width: 200px;
    height: 160px;

    overflow-y: scroll;

    background-attachment: local;
    background-image:
        linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        repeating-linear-gradient(white, white 31px, #000 31px, #000 33px, white 33px);
    line-height: 33px;
    padding: 8px 10px;

    resize: none;
    border: none;
}

.txtArea-write:focus{
    outline: none;
}

.txtArea-write::-webkit-scrollbar{
    width: 10px;
    cursor:default;
}

.txtArea-write::-webkit-scrollbar-track{
    background-color: transparent;
}

.txtArea-write::-webkit-scrollbar-thumb{
    background-color: #1c1c1c;
    border-radius: 10px;
}

.txtArea-write::-webkit-scrollbar-button{
    display: none;
}

.escrita-container button{
    width: 168px;
    height: 40px;

    font-weight: 600;
    font-size: 15px;
    line-height: 13px;

    cursor: pointer;

    border: none;

    box-shadow: -9px -7px 19px rgba(0, 0, 0, 0.25);
    border-radius: 33px;

    transition: 800ms;
}

.escrita-container button:hover{
    transform: scale(1.08);
}

.bt-add-wallpaper{
    background: #7875FE;

    color: white;
}

.bt-enviar {
    background: #80FE75;
}

.bt-enviar-error{
    background: #f84a66;

    animation: shake 0.5s infinite normal;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.realitys-carousel{
    height: 565px;
    width: 565px;

    margin-left: 124px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: radial-gradient(circle, rgba(133,126,250,1) 0%, rgba(89,79,255,1) 90%);
    
    /*background-image: url('../img/nature-wallpaper-3622519_1920.jpg');*/
    background-position: bottom;
    background-size: cover;

    border-radius: 50%;

    position: relative;

    transition: 700ms;
}

.left-arrow, .right-arrow {
    font-variation-settings:
        'FILL' 0,
        'wght' 700;

    color: white;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    
    text-shadow: 0 0 6px black;
    font-size: 55px;

    cursor: pointer;

    position: absolute;
    z-index: 9;

}

.left-arrow {
    left: 26px;
}

.right-arrow {
    right: 26px;
}

.realitys-container{
    position: relative;

    background: rgba(255, 255, 255, 0.329);
    backdrop-filter: blur( 2px );
    border-radius: 50%;

    box-shadow: inset 0px 0px 20px 20px rgb(0 0 0 / 48%);

    width: 100%;
    height: 100%;

    overflow: hidden;

    transition: 700ms;

}

.realitys-container .column{
    position: absolute;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;

    transition: 800ms;
    transition-timing-function: normal;
}

.realitys-container .column .cell{
    width: 50%;
    height: 80%;

    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;

    text-align: justify;

    background-color: #FFFFFF;

    border-radius: 33px;
    box-shadow: -7px 4px 0px rgba(0, 0, 0, 0.25);

    overflow: auto;

    font-weight: bold;

    transition: 500ms;

}

.cell::-webkit-scrollbar{
    width: 10px;
    cursor:default;
}

.cell::-webkit-scrollbar-track{
    background-color: transparent;
}

.cell::-webkit-scrollbar-thumb{
    background-color: #1c1c1c;
    border-radius: 10px;
}

.txtArea-write::-webkit-scrollbar-button{
    display: none;
}

.table-token{
    width: 300px;
}

tr{
    display: flex;
    justify-content: space-between;

    border-bottom: 2px solid rgba(255, 255, 255, 0.1);

    margin-bottom: 16px;
    padding-bottom: 6px;
}

td{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
    line-height: 24px;

    text-transform: capitalize;

    text-align: center;

    color: #FFFFFF;
}

.chart-container{
    margin-left: 124px;

    width: 400px;
}